<div class="container">
<form name='signupCtrlForm' novalidate>

<div class="form-group">
  <input type="text" name="username" placeholder="Pick a username"
    ng-model="signupCtrl.user.username"
    required
    minlength="4"
    ng-maxlength="10">
    {{ signupCtrl.user.username }}
    <span
      ng-if="(signupCtrlForm.username.$error.minlength || signupCtrlForm.username.$error.required) && signupCtrlForm.username.$touched">
      Username must be at least 4 characters long
    </span>
    <span ng-if="signupCtrlForm.username.$error.maxlength && signupCtrlForm.username.$touched">
      Username must not be longer than 10 characters
    </span>
</div>

<div class="form-group">
  <input type="email" name="email" placeholder="Email"
    ng-model="signupCtrl.user.email"
    required>
    <span ng-if="signupCtrlForm.email.$invalid && signupCtrlForm.email.$touched">
      Must be a valid email address: handle@domain format
    </span>
</div>

<div class="form-group">
  <input type="text" name="phone" placeholder="Phone ###-###-####"
    ng-model="signupCtrl.user.phone"
    pattern="(\d{3})-(\d{3})-(\d{4})">
    <span ng-if="signupCtrlForm.phone.$invalid && signupCtrlForm.phone.$touched">
      Phone must be in the format ###-###-####.
    </span>
</div>

  <button
    ng-disabled="signupCtrlForm.$invalid"
    ng-click="signupCtrl.submit()">Submit</button>

    <div style="margin-top: 10px;">
      Form valid? {{ signupCtrlForm.$valid }}
    </div>
</form>

<div id="info" ng-if="signupCtrl.completed">
  Username: {{ signupCtrl.user.username}} <br>
  Email: {{ signupCtrl.user.email}} <br>
  Phone: {{ signupCtrl.user.phone }}
</div>

</div>